<header>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        
        <div>
            <a href="" class="navbar-brand">Project Manager</a>
        </div>

        <ul class="navbar-nav">
            <li><a  routerLink="/project" class="nav-link">Add Project</a></li>
            <li><a  routerLink="/task" class="nav-link">Add Task</a></li>
            <li><a  routerLink="/users" class="nav-link">Add User</a></li>
            <li><a  routerLink="/viewtask" class="nav-link">View Task</a></li>
        </ul>

    </nav>

</header>